<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            background: linear-gradient(45deg, #EECFBA, #C5DDE8 );
        }
    </style>
</head>
<body>
    <nav>
        <a href="">Добавить</a>
        <a href="{% url 'look' %}">Просмотреть данные</a>
    </nav>
{% block body %}
{% endblock %}
</body>
</html>